---
AccessModifierOffset: '-4'
AlignAfterOpenBracket: DontAlign
AlignConsecutiveMacros: 'true'
AlignEscapedNewlines: Right
AlignOperands: 'false'
AlignTrailingComments: 'true'
AllowAllArgumentsOnNextLine: 'true'
AllowAllConstructorInitializersOnNextLine: 'true'
AllowAllParametersOfDeclarationOnNextLine: 'false'
AllowShortBlocksOnASingleLine: 'true'
AllowShortCaseLabelsOnASingleLine: 'true'
AllowShortFunctionsOnASingleLine: Inline
AllowShortIfStatementsOnASingleLine: Never
AllowShortLambdasOnASingleLine: Empty
AllowShortLoopsOnASingleLine: 'false'
AlwaysBreakTemplateDeclarations: 'Yes'
AlwaysBreakAfterDefinitionReturnType: None
AlwaysBreakAfterReturnType: None
BasedOnStyle: WebKit
BreakBeforeBraces: Attach
# BreakAfterAttributes: Always
ColumnLimit: '120'
Cpp11BracedListStyle: 'true'
DerivePointerAlignment: 'false'
Language: Cpp
IncludeBlocks: Preserve
NamespaceIndentation: None
PointerAlignment: Left
SpaceBeforeCpp11BracedList: 'false'
TabWidth: '4'
QualifierAlignment: Left